body
{
  background-color: rgb(255, 255, 221);
}
.box1,
.box2,
.box3 {
  border-radius: 20px;
  padding: 40px 20px;
  margin: 10px 0px;
}
.box1 {
  background-color: rgb(121, 239, 255);
}
.box2 {
  background-color: rgb(255, 228, 77);
}
.box3 {
  background-color: rgb(255, 177, 125);
}
input:valid {
  color: green;
}
input:invalid {
  color: red;
}
#withdrawButton,#depositButton,#signout {
  background-color: rgb(70, 88, 255);
  color: white;
}